body{
    background-color: rgb(70, 142, 236);
    font: normal 15pt arial;
}


header{
    text-align: center;
    margin-top: 1em;
    color: white;
    font-size: 1.5em;
}

section{
background-color: white;
border-radius: 0.5em;
padding: 1em;
width: 25em;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.366);

}

footer{
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 1.2em;
   
}